 body {
     font-family: 'Roboto', sans-serif;
 }

 h1,
 h2,
 h3 {
     font-family: 'Varela Round', sans-serif;
 }

 .text-shadow {
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 .carousel-inner img {
     width: 100%;
     height: auto;
     object-fit: cover;
 }


 @media (min-width: 1200px) {
     .carousel-inner img {
         height: 88vh;
         object-fit: cover;
     }
 }