
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>

<body>
    <div class="container">
        <h5><strong>APPOINTMENT TICKET</strong></h5>
        <p>Token no: {{ token }}</p>
        <p>Patient: {{ appointment.patient.name }}</p>
        <p>Appointment Date: {{ appointment.appointment_date }}</p>
        <p>Appointment Time: {{ appointment.time }}</p>
        <p>Doctor: {{ appointment.doctor.name }}</p>
        <p>Specialty: {{ appointment.specialty }}</p>
        <p>Symptoms: {{ appointment.symptom_description }}</p>
                <p><span style="text-decoration: underline;">&nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><br><em>Doctor's
                        Signature</em></p>
        <p><em>(Please take this ticket with you while you visit the doctor.)</em></p>
    </div>
</body>

</html>