{% extends 'cms/base.html' %}

{% block title %}About Us - Care Connect{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="row" id="about">
    <div class="col">
      <h1 class="text-center">ABOUT US</h1>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-lg-6 col-md-12 glass-bg p-3 " style="border-radius: 25px">
      <span style="font-size: 23px; font-weight: 500;">Care Connect</span>
      is a project driven by the necessity to bring medical assistance seeking individuals and the availability of
      healthcare resources, such as hospital beds and medical rooms. In the case of emergencies, the lack of current
      reliable information can lead to panic situations and frustration. “Care Connect” provides a solution to the issue
      by providing users with a user-friendly interface, a web-application that offers real-time data on bed
      availability in hospitals.
      <br />
      <span style="font-size: 20px; font-weight: 500;"><b>Goal</b></span>
      <ul>
        <li>
          The primary goal of the project is to create a platform that provides users with immediate access to available
          hospital beds so that they can book the beds saving time for further formalities. Users should be able to
          access this information at their convenience.
        </li>
        <li>
          The project also wants to provide accurate and transparent information which will foster trust on the platform
          for the users. Users should have confidence in using the platform to get reliable data.
        </li>
      </ul>
    </div>
    <div class="col-lg-5 col-md-12 p-3 glass-bg" style="border-radius: 25px">
      <h3 class="text-center">Meet the Team</h3>
      <div class="row">
        <div class="col-lg-6 p-3 team-content text-center">
          <div class="team-name">Aashutosh Poudel</div>
          <div>UI & UX Designer</div>
          <hr />
          <div class="d-flex justify-content-around">
            <a href="#" class="team-icon fs-5"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/aashutosh.poudel.716" class="team-icon fs-5"><i
                class="fab fa-facebook"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-twitter"></i></a>
            <a href="https://np.linkedin.com/in/aashutosh-poudel-b8a96a209" class="team-icon fs-5"><i
                class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-6 p-3 team-content text-center">
          <div class="team-name">Biswah Devkota</div>
          <div>Backend Developer</div>
          <hr />
          <div class="d-flex justify-content-around">
            <a href="#" class="team-icon fs-5"><i class="fab fa-instagram"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-facebook"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 p-3 team-content text-center">
          <div class="team-name">Dipendra Thapa</div>
          <div>Backend Developer</div>
          <hr />
          <div class="d-flex justify-content-around">
            <a href="#" class="team-icon fs-5"><i class="fab fa-instagram"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-facebook"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-lg-6 team-content p-3 text-center">
          <div class="team-name">Sujan Subedi</div>
          <div>Frontend Developer</div>
          <hr />
          <div class="d-flex justify-content-around">
            <a href="#" class="team-icon fs-5"><i class="fab fa-instagram"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-facebook"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-twitter"></i></a>
            <a href="#" class="team-icon fs-5"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}